@use "../variables" as *;

#index-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 40px auto;
  z-index: 1;

  #index-main-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;

    h1 {
      text-align: center;
      font-family: $font-primary;
      font-weight: $font-w-extrabold;
      font-size: $index-main-font-s-title;
      color: white;
    }

    a {
      width: 200px;
      max-width: 90%;
      height: auto;
      background-color: $index-main-button-bg;
      color: $index-main-button-font-color;
      font-weight: $font-w-light;
      font-size: $index-main-font-s-text;
      text-decoration: none;
      text-align: center;
      border-radius: 20px;
      padding: 20px;

      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    }

    a:hover {
      background-color: $index-main-button-font-color;
      color: $index-main-button-bg;
      transform: scale(1.1);
    }
  }

  #index-main-bg {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.3s ease-in-out;
  }

  #index-main-nombre-museo {
    font-family: $font-primary;
    font-weight: $font-w-extralight;
    font-size: 16px;
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    transition: content 0.2s ease-in-out;
  }
}
