@use '../variables' as *;

#registros-main {
    width: 80%;
    height: 100%;
    min-height: $main-height;
    background-color: $bg-grad-color-3;
    margin: 10px auto;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.21);

    display: grid;
    grid-template-columns: auto 0.05fr auto;
    grid-template-rows: 1fr auto;
}

/* Responsive */
/* Se elimina la linea del centro y se convierte en un flex de columnas todo */

@media screen and (max-width: 1153px) {
    #registros-main {
        display: flex;
        flex-direction: column;
    }

    #registros-linea {
        display: none;
    }

    .registros-field-foto img {
        width: 100px;
        height: 100px;
    }

    .registros-field-foto input[type="file"] {
        font-size: 12px;
    }

    .registros-field-foto input::file-selector-button {
        font-size: 12px;
    }
}