@use "../variables" as *;

#vermuseos-main,
#vermuseos-vm-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px auto;

  overflow: hidden;
  z-index: 1;

  .museos-header-section {
    width: 100%;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    .museos-header-section-left {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 14px;

      .museos-header-section-left-tittles {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
          font-size: 1.5rem;
          color: var(--font-color-primary);
          padding: 30px 0 0 0;
        }

        p {
          font-size: 1rem;
          color: var(--font-color-primary);
          font-weight: $font-w-light;
        }
      }

      button {
        width: 50px;
        height: 50px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        text-decoration: none;
        color: var(--color-a-2);
        font-size: 1.4rem;
        font-weight: $font-w-bold;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

        svg {
          width: 80%;
          height: auto;
          color: var(--font-color-primary);
        }

        &:hover {
          opacity: 0.7;
          transform: scale(1.1);
        }
      }

      @media screen and (max-width: 1473px) {
        h1 {
          font-size: 1.2rem;
          max-width: 300px;
          height: auto;
        }

        button {
          svg {
            width: 30px;
          }
        }
      }

      @media screen and (max-width: 700px) {
        h1,
        p {
          display: none;
        }
      }
    }

    .museos-header-section-right {
      display: flex;
      align-items: center;
      gap: 60px;
      // margin-top: 50px;

      a {
        width: 50px;
        text-decoration: none;
        color: var(--color-a-2);
        font-size: 18px;
        font-weight: $font-w-bold;
        transition: opacity 0.3s ease-in-out;

        position: relative;
      }

      a:hover {
        opacity: 0.7;
      }

      .museos-header-section-right-button {
        width: fit-content;
        height: 50px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-family: $font-primary;
        font-weight: $font-w-bold;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--color-a-2);

        transition: opacity 0.3s ease-in-out;

        svg {
          width: 30px;
          height: auto;
        }

        &:hover {
          opacity: 0.7;
        }

        @media (max-width: 1473px) {
          p {
            display: none;
          }
        }
      }
    }
  }

  .filtros-aplicados {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 10px 40px;

    h3 {
      font-size: 1rem;
      color: var(--font-color-primary);
      font-weight: $font-w-bold;
    }

    .filtros-aplicados-list {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
      align-items: center;
      justify-content: flex-start;

      .filtro-aplicado {
        width: auto;
        background-color: var(--filter-bg);
        height: 30px;
        border-radius: 20px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        padding: 0 10px;

        p {
          font-size: 0.9rem;
          color: var(--filter-font-color);
          font-weight: $font-w-semibold;
        }

        button {
          width: 16px;
          height: 16px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          margin: 0 auto;

          transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

          svg {
            width: 100%;
            height: auto;
            color: var(--filter-font-color);
          }

          &:hover {
            opacity: 0.7;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .museos-container-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .museos-container {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax($mc-width, 1fr));
      gap: 30px;
      padding: 20px;
      margin: 0 auto;

      justify-content: space-around;
      align-items: center;
      text-align: center;
    }

    .loading-more-indicator {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
    }

    .nomoremuseos {
      font-size: 1.2rem;
      color: var(--font-color-primary);
      font-weight: $font-w-bold;
      text-align: center;
      margin: 20px auto;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .no-results {
    width: 90%;
    height: auto;

    background-color: var(--no-results-bg);

    border-radius: 25px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 50px 100px;

    p {
      width: 100%;
      text-align: center;
      font-size: 1.6rem;
      color: var(--font-color-primary);
      font-weight: $font-w-bold;

      &:nth-child(2) {
        font-size: 1.2rem;
        font-weight: $font-w-regular;
      }
    }
  }

  .museos-container-map-section {
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#museos-map {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 25px;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.21);
  }
}

@media screen and (max-width: 1072px) {
  #museos-form-nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .museo-card {
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    .museo-card-info-container {
      .museo-card-info-header {
        width: 100%;

        #museo-card-nombre {
          font-size: 1rem;
        }
      }

      .museo-card-info-body {
        display: none;
      }
    }
  }
}
