@use "../variables" as *;

.custom-marker {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
  background-color: #ff6161;
  border: 2px solid rgb(113, 0, 0);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.hovered {
    transform: scale(2); /* Hace que el marcador crezca */
  }

  .marker-container {
    width: 40px;
    height: 40px;
    border: none;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      height: 90%;
      object-fit: cover;

      border-radius: 50%;

      z-index: 2;
    }

    &::before {
      z-index: 1;
      position: absolute;
      display: block;
      content: "";
      bottom: -10px;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translateX(-50%) rotate(45deg);

      border-right: 2px solid rgb(113, 0, 0);
      border-bottom: 2px solid rgb(113, 0, 0);
      background-color: #ff6161;
    }
  }
}

.museo-marker-icon {
  width: 50px;
  height: 50px;
  background-color: #ff6161;
  border: 2px solid rgb(113, 0, 0);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease-in-out;

  img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    overflow: hidden;

    z-index: 2;
  }

  &:hover {
    transform: scale(2); /* Hace que el marcador crezca */
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    bottom: -7.5px;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translateX(-50%) rotate(45deg);

    border-right: 2px solid rgb(113, 0, 0);
    border-bottom: 2px solid rgb(113, 0, 0);
    background-color: #ff6161;

    z-index: 1;
  }
}

.gm-ui-hover-effect {
  visibility: hidden !important;
}

.gm-style-iw {
  background-color: var(--bg-map-info) !important;
  position: relative;
}

.info-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: auto;

  .info-window-close-btn {
    position: absolute;
    z-index: 3;
    top: 3px;
    right: 0px;
    width: 45px;
    height: 30px;
    border-radius: 0 10px 0 10px;
    background: var(--bg-map-info);
    border: none;

    cursor: pointer;

    svg {
      position: absolute;
      top: 6px;
      left: 10px;
      width: 20px;
      height: auto;
      color: var(--font-color-primary);

      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .info-window-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    .info-window-title {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: var(--bg-museo-list-item);

      border-radius: 10px;

      a {
        font-family: $font-primary;
        text-decoration: none;
        color: var(--font-color-primary);
        font-size: 1.1rem;
        text-align: center;
        font-weight: $font-w-semibold;

        padding: 20px;

        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    .info-window-img {
      width: 100%;
      height: 150px;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        object-fit: cover;
        border-radius: 10px;
      }

      .info-window-img-overlay {
        width: 100%;
        height: 100%;
        position: absolute;

        .info-window-img-rate {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 5px;
          left: 5px;

          .info-window-img-rate-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: $font-primary;
            font-size: 0.8rem;
            color: white;
            font-weight: $font-w-semibold;
            text-align: center;

            z-index: 2;
          }

          .info-window-img-rate-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;

            svg {
              width: 100%;
              height: 100%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .info-window-content {
      a {
        font-size: 0.8rem;
      }

      img {
        display: none;
      }
    }
  }
}
