@use "../variables" as *;

.error-campo-container {
  width: 100%;
  height: auto;

  background-color: var(--pop-up-error-bg);
  border-radius: 0 0 10px 10px;
  box-shadow: $error-form-shadow;

  transition: all 0.3s ease-in-out;

  p {
    padding: 5px;
    font-size: 1rem;
    font-weight: $font-w-regular;
    text-align: center;
    color: var(--pop-up-error-text);
  }
}
