@use "../variables" as *;

.image-uploader {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  padding: 50px 0;

  h1 {
    font-family: $font-tertiary;
    font-size: 2rem;
    color: var(--font-color-primary);
    margin-bottom: 2rem;
  }

  .drop-zone {
    width: 80%;
    height: 200px;
    border: 4px dashed var(--tr-border-color);
    border-radius: 20px;
    background-color: var(--bg-row-fotos);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 20px;

    &:hover {
      background-color: var(--bg-row-fotos-hover);
    }

    svg {
      width: 50px;
      height: auto;
      color: var(--font-color-primary);
      margin-bottom: 10px;
      opacity: 0.3;
    }

    label {
      width: 100%;
      font-family: $font-primary;
      font-size: 1.2rem;
      color: var(--font-color-primary);
      opacity: 0.3;
      text-align: center;
      font-weight: $font-w-semibold;
    }
  }

  .progress-area {
    width: 80%;
    max-height: 250px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    .row {
      list-style: none;
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      padding: 10px;
      background-color: var(--bg-row-fotos);
      border-radius: 10px;
      margin-bottom: 10px;

      svg {
        width: 30px;
        height: auto;
        color: var(--font-color-primary);
        cursor: pointer;
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 1;
        gap: 5px;

        .file-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .name {
            font-size: 1rem;
            font-family: $font-primary;
            color: var(--font-color-primary);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            font-weight: $font-w-semibold;
          }

          span {
            font-size: 0.8rem;
            color: var(--font-color-primary);
            opacity: 0.5;
          }
        }

        .progress-bar-image {
          width: 100%;
          height: 10px;
          background-color: var(--bg-progress-bar);
          border-radius: 5px;
          overflow: hidden;

          .progress-image {
            width: 50%;
            height: 100%;
            background-color: var(--bg-progress-bar-fill);
            border-radius: 5px;
            transition: width 0.3s ease;
          }
        }
      }

      .progress-text {
        width: 50px;

        .percent {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          text-align: center;
          font-size: 1rem;
          color: var(--font-color-primary);
          opacity: 0.5;
          margin-left: auto;
          font-family: $font-primary;
          font-weight: $font-w-semibold;
        }
      }
    }
  }

  .uploaded-area {
    width: 80%;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    // Scrollbar styles
    &::-webkit-scrollbar {
      width: 0;
    }

    .row {
      background-color: var(--bg-row-fotos);
      border-radius: 10px;
      list-style: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 10px;

      img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: 10px;
        background-color: var(--bg-row-fotos);
        transition: filter 0.3s ease;
        &:hover {
          filter: brightness(0.8);
        }
      }

      .content {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .file-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .name {
            font-size: 1rem;
            font-family: $font-primary;
            color: var(--font-color-primary);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 250px;
            font-weight: $font-w-semibold;
          }

          span {
            font-size: 0.8rem;
            color: var(--font-color-primary);
            opacity: 0.5;
          }
        }

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;

          svg {
            width: 30px;
            height: auto;
            color: var(--font-color-primary);
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
