@use "../variables" as *;

.bg-opaco {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.bg-opaco.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.filtro-menu-container {
  width: fit-content;
  min-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0;
  background-color: var(--bg-filtro);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  overflow-y: auto;
  overflow-x: hidden;

  -webkit-box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -5px 0px 15px 5px rgba(0, 0, 0, 0.2);

  .filtro-menu-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
    position: relative;

    h1 {
      font-size: 1.8rem;
      font-weight: $font-w-bold;
      color: var(--font-color-primary);
    }

    .filtro-menu-close-button {
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      position: absolute;
      left: 0;
      margin-left: 35px;

      transition: transform 0.3s ease-in-out;

      svg {
        width: 50px;
        height: 50px;
        color: var(--font-color-primary);
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .filtro-menu-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .filtro-menu-filter-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 1.4rem;
        font-weight: $font-w-bold;
        padding-left: 100px;
        color: var(--font-color-primary);
      }

      button {
        width: 30px;
        border: none;
        background-color: transparent;
        margin-right: 105px;

        transition: transform 0.3s ease-in-out;

        svg {
          width: 30px;
          height: auto;
          color: var(--font-color-primary);
        }
      }

      button:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }

    .filtro-menu-filter-body {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;

      transition: max-height 0.3s ease-out;

      .filtro-menu-filter-body-item {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        label {
          font-size: 1.2rem;
          padding-left: 110px;
          color: var(--font-color-primary);
        }

        .filtro-chk {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          cursor: pointer;
          font-size: 16px;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 105px;

          input {
            display: none;
          }

          input:checked ~ .checkmark {
            background-color: black;
          }

          input:checked ~ .checkmark::after {
            opacity: 1;
          }

          .checkmark {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #d9d9d9;
            border-radius: 10px;

            transition: background-color 0.3s ease;

            &::after {
              content: "";
              position: absolute;
              border: solid white;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
              opacity: 0;
              width: 5px;
              height: 10px;

              top: 7px;
              left: 11px;

              transition: opacity 0.3s ease;
            }
          }
        }

        .filtro-rad {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          cursor: pointer;
          font-size: 16px;

          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 105px;

          input {
            display: none;
          }

          input:checked ~ .radio-filter-span {
            background-color: black;
          }

          input:checked ~ .radio-filter-span::after {
            opacity: 1;
          }

          .radio-filter-span {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #d9d9d9;
            border-radius: 100%;

            transition: background-color 0.3s ease;

            &::after {
              content: "";
              position: absolute;
              border: solid white;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
              opacity: 0;
              width: 5px;
              height: 10px;

              top: 7px;
              left: 11px;

              transition: opacity 0.3s ease;
            }
          }
        }
      }
    }

    .filtro-menu-filter-body.open {
      max-height: 1000px;
      transition: max-height 0.3s ease-in;
    }
  }

  .filtro-menu-rango-precios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    label {
      width: auto;
      font-size: 1.2rem;
      font-weight: $font-w-bold;
      color: var(--font-color-primary);
    }

    .slider-precio-container {
      position: relative;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // #rango-costo {
    //   width: 70%;
    //   height: 10px;
    //   border-radius: 100px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 10px;
    //   background-color: rgba(0, 0, 0, 0.2);
    //   -webkit-appearance: none;

    //   &::-webkit-slider-thumb {
    //     -webkit-appearance: none;
    //     appearance: none;
    //     width: 25px;
    //     height: 25px;
    //     background: url("../assets/icons/money-icon.png");
    //     border-radius: 100%;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     cursor: pointer;
    //   }
    // }
  }

  #nmuseos {
    font-size: 1.2rem;
    font-weight: $font-w-regular;
    color: var(--font-color-primary);
  }

  .filtro-menu-botones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 30px;

    .filtro-menu-boton {
      width: 200px;
      height: 68px;
      border: none;
      border-radius: 20px;
      background-color: #d9d9d9;
      color: black;
      font-size: 1.4rem;
      font-weight: $font-w-bold;

      transition: transform 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    .black {
      background-color: black;
      color: white;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .rotado {
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out;
  }

  .regresado {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }

  .switch-button {
    display: inline-block;
    position: relative;
    width: 7rem;
    height: 3rem;
    user-select: none;

    margin-right: 50px;

    .switch-button__checkbox {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1000;
      cursor: pointer;
    }

    .switch-button__label {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: 3rem;
      position: absolute;
      z-index: 2;
      background-color: black;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      transition: background-color 0.3s ease-in-out,
        justify-content 0.3s ease-in-out;

      .switch-button-slider {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: white;
        box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);

        transition: transform 0.3s ease-in-out;
      }
    }

    .switch-button-span-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      padding: 0 1rem;

      span {
        color: white;
        font-size: 1.4rem;
        font-weight: $font-w-semibold;

        transition: color 0.3s ease-in-out;
      }
    }

    .switch-button__checkbox:checked + .switch-button__label {
      justify-content: flex-end;
      background-color: #747474;

      transition: justify-content 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      .switch-button-slider {
        transform: translateX(calc(100% - 3rem));

        transition: transform 0.3s ease-in-out;
      }
    }

    .switch-button__checkbox:not(:checked) + .switch-button__label {
      justify-content: flex-start;
      background-color: black;

      transition: justify-content 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      .switch-button-slider {
        transform: translateX(0);

        transition: transform 0.3s ease-in-out;
      }
    }
  }

  @media screen and (max-width: 620px) {
    min-width: 100%;

    .filtro-menu-header {
      h1 {
        font-size: 24px;
      }

      .filtro-menu-close-button {
        margin-left: 10px;
      }
    }

    .filtro-menu-filter {
      .filtro-menu-filter-header {
        h2 {
          font-size: 24px;
        }

        button {
          margin-right: 100px;
        }
      }

      .filtro-menu-filter-body {
        .filtro-menu-filter-body-item {
          label {
            font-size: 20px;
            padding-left: 100px;
          }

          .filtro-chk {
            margin-right: 95px;
          }

          .filtro-rad {
            margin-right: 50px;
          }
        }
      }

      .filtro-menu-filter-body.open {
        max-height: 1000px;
        transition: max-height 0.3s ease-in;
      }
    }

    .filtro-menu-rango-precios {
      label {
        font-size: 20px;
      }

      #rango-costo {
        width: 70%;
      }
    }

    #nmuseos {
      font-size: 20px;
    }

    .filtro-menu-botones {
      .filtro-menu-boton {
        width: 150px;
        height: 50px;
        font-size: 20px;
      }
    }

    .switch-button {
      width: 5rem;
      height: 2.5rem;

      .switch-button__label {
        .switch-button-slider {
          width: 2.5rem;
          height: 2.5rem;
        }

        .switch-button-span-container {
          span {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.filtro-menu-container.open {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}
