@use "../variables" as *;

.menu-usuario-container {
  position: absolute;
  top: 110%;
  right: 0;
  width: 300px;
  height: fit-content;
  min-height: 250px;

  background-color: rgb(255, 255, 255);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translateY(-10px);
  opacity: 0;

  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1000;

  hr {
    width: 90%;

    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }

  .menu-usuario-header {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;

    img {
      width: 64px;
      height: 64px;
      object-fit: cover;

      aspect-ratio: 1/1;

      background-color: white;
      border-radius: 50%;

      border: 1px solid rgba(0, 0, 0, 0.2);
      margin: 20px;
    }

    .menu-usuario-header-info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h1 {
        font-size: 1rem;
        font-weight: $font-w-bold;
      }

      p {
        font-size: 0.9rem;
        font-weight: $font-w-regular;
      }

      #header-info-link {
        text-decoration: none;
        color: var(--color-a);
        font-size: 0.9rem;
        font-weight: $font-w-regular;
        padding-top: 2px;

        transition: opacity 0.3s ease-in-out, font-weight 0.3s ease-in-out;

        &:hover {
          opacity: 0.7;
          font-weight: $font-w-bold;
        }
      }
    }
  }

  .menu-usuario-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    padding: 20px;

    .menu-usuario-body-item {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      gap: 10px;

      transition: opacity 0.3s ease-in-out;

      .menu-usuario-body-item-img-container {
        width: 40px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
        }
      }

      #body-item-link {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: $font-w-regular;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  .menu-usuario-darkmode-container {
    width: 100%;
    height: auto;

    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    label {
      font-weight: $font-w-semibold;
    }

    .switch-button-dm {
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 2rem;
      user-select: none;

      .switch-button__checkbox {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
      }

      .switch-button__label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 2rem;
        position: absolute;
        background-color: rgb(198, 198, 198);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        transition: background-color 0.3s ease-in-out,
          justify-content 0.3s ease-in-out;

        .switch-button-slider {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: white;
          box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease-in-out;

          z-index: 101;
        }
      }

      .switch-button-span-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        padding: 0 0.5rem;

        svg {
          color: black;
          font-size: 1.2rem;
        }
      }

      .switch-button__checkbox:checked + .switch-button__label {
        justify-content: flex-end;

        .switch-button-slider {
          transform: translateX(
            calc(100% - 1.8rem)
          ); // Ajustado al nuevo tamaño
        }
      }

      .switch-button__checkbox:not(:checked) + .switch-button__label {
        justify-content: flex-start;
      }
    }
  }

  .menu-usuario-footer {
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #menu-usuario-btn-logout {
      font-family: $font-primary;
      border: none;
      background-color: transparent;
      text-decoration: none;
      color: var(--color-a);
      font-size: 1rem;
      font-weight: $font-w-bold;

      transition: font-weight 0.3s ease-in-out;

      &:hover {
        font-weight: $font-w-regular;
      }
    }
  }
}

.menu-usuario-container.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
