@use "../variables" as *;

.museo-card {
  position: relative;
  overflow: visible;

  width: 100%;
  max-width: $mc-width;
  height: fit-content;
  max-height: 400px;
  background-color: var(--museo-card-bg);
  border-radius: 20px;
  margin: 0 auto;

  pointer-events: none;

  display: grid;
  grid-template-rows: 1fr 1fr;
  /* border: 4px solid rgba(0, 0, 0, 0.21); */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.225);

  .museo-card-img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 230px;
    margin: 0 auto;

    pointer-events: all;

    .museo-card-fav-button-container {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      position: absolute;
      margin: 10px 14px;
      display: flex;
      justify-content: center;
      align-items: center;

      z-index: 31;

      .museo-card-fav-button-span {
        /* position: absolute; */
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        background: url("../assets/icons/corazon-gris-icon.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: transform 0.3s ease-in-out,
          background-image 0.3s ease-in-out;

        img {
          width: 100%;
          height: 100%;
        }
      }

      input {
        display: none;
      }

      input:checked ~ span {
        background-image: url("../assets/icons/corazon-rojo-icon.png");
      }

      input ~ span:hover {
        transform: scale(1.2);
      }

      img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;

        filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.7));

        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .museo-card-delete-container {
      position: absolute;
      margin: 10px;
      z-index: 31;

      pointer-events: all;

      button {
        width: 40px;
        height: 40px;
        background: var(--btn-ayuda-bg);
        border: 2px solid var(--btn-ayuda-border);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        z-index: 31;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }

        svg {
          width: 100%;
          height: auto;
          color: var(--font-color-primary);
        }
      }
    }

    .museo-card-img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;

      z-index: 30;

      //Inner-shadow para todos los navegadores
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);

      transition: filter 0.3s ease-in-out;

      &:hover {
        filter: brightness(0.8);
      }
    }

    .museo-card-img-rating {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;

      position: absolute;
      right: 0;
      top: 0;

      margin: 10px;

      img,
      svg {
        z-index: 19;
        height: 60px;
        width: 60px;
        fill: var(--museo-card-bg-image);

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      #museo-card-rating {
        position: absolute;
        z-index: 20;
        font-size: 1.5rem;
        color: white;
        font-weight: $font-w-bold;
        text-align: center;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        top: 1;
        bottom: 1;
      }
    }

    .museo-card-img-tematica {
      position: absolute;
      left: 0;
      bottom: 0;

      width: fit-content;
      height: 40px;

      padding: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--museo-card-bg-image);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;

      h2 {
        color: white;
        font-size: 1.2rem;
        font-weight: $font-w-semibold;
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }
  }

  .museo-card-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;

    .museo-card-info-header {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 4px;

      #museo-card-nombre {
        font-size: 1.2rem;
        color: var(--museo-card-h1-color);
        font-weight: $font-w-extrabold;
        text-align: center;
        margin: 0;
        padding-left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
      }

      a {
        z-index: 31;
        text-decoration: none;

        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }

      #museo-card-alcaldia {
        font-size: 14px;
        color: var(--museo-card-text-color);
        font-weight: $font-w-regular;
      }
    }

    .museo-card-info-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .museo-card-info-body-item {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .semibold {
          font-size: 18px;
          font-weight: $font-w-semibold;
          color: var(--museo-card-h1-color);
        }

        p {
          font-size: 16px;
          color: var(--museo-card-text-color);
          font-weight: $font-w-light;
          text-align: left;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
