@use "../variables" as *;

.museo-card {
  position: relative;
  overflow: hidden;

  width: 100%;
  max-width: $mc-width;
  height: fit-content;
  max-height: 400px;
  background-color: var(--museo-card-bg);
  border-radius: 20px;
  margin: 0 auto;

  pointer-events: none;

  display: grid;
  grid-template-rows: 1fr 1fr;
  /* border: 4px solid rgba(0, 0, 0, 0.21); */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.225);

  .museo-card-img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 230px;
    margin: 0 auto;
    aspect-ratio: 16 / 9;

    pointer-events: all;

    .fav-button-container {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      position: absolute;
      margin: 10px 14px;
      display: flex;
      justify-content: center;
      align-items: center;

      z-index: 31;

      .fav-button-span {
        /* position: absolute; */
        display: inline-block;
        position: relative;
        width: 45px;
        height: 45px;
        background: url("../assets/icons/corazon-gris-icon.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition:
          transform 0.3s ease-in-out,
          background-image 0.3s ease-in-out;

        img {
          width: 100%;
          height: 100%;
        }
      }

      input {
        display: none;
      }

      input:checked ~ span {
        background-image: url("../assets/icons/corazon-rojo-icon.png");
      }

      input ~ span:hover {
        transform: scale(1.2);
      }

      img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;

        filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.7));

        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .museo-card-delete-container {
      position: absolute;
      margin: 10px;
      z-index: 31;

      pointer-events: all;

      button {
        width: 40px;
        height: 40px;
        background: var(--btn-ayuda-bg);
        border: 2px solid var(--btn-ayuda-border);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        z-index: 31;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }

        svg {
          width: 100%;
          height: auto;
          color: var(--font-color-primary);
        }
      }
    }

    .museo-card-img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      overflow: hidden;

      z-index: 30;

      //Inner-shadow para todos los navegadores
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);

      &:hover {
        filter: brightness(0.8);
        transition: filter 0.5s ease-in-out;
      }
    }

    .museo-card-img-rating {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;

      position: absolute;
      right: 0;
      top: 0;

      margin: 10px;

      img,
      svg {
        z-index: 19;
        height: auto;
        width: 54px;
        fill: var(--museo-card-bg-image);

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      #museo-card-rating {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -40%);
        z-index: 20;
        font-size: 1rem;
        color: white;
        font-weight: $font-w-semibold;
        text-align: center;
        font-family: $font-primary;
      }
    }

    .museo-card-img-tematica {
      position: absolute;
      left: 0;
      bottom: 0;

      width: fit-content;
      height: 40px;

      padding: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--museo-card-bg-image);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;

      h2 {
        color: white;
        font-size: 1.2rem;
        font-weight: $font-w-semibold;
        text-align: left;
        margin: 0;
        padding: 0;
        font-family: $font-tertiary;
      }
    }

    .museo-card-likes {
      position: absolute;
      bottom: 0;
      right: 0;
      width: fit-content;
      height: 40px;
      padding: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      background-color: var(--museo-card-bg-image);
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;

      h2 {
        color: white;
        font-size: 1.2rem;
        font-weight: $font-w-regular;
        text-align: left;
        margin: 0;
        padding: 0;
        font-family: $font-primary;
      }

      svg {
        width: 1rem;
        height: auto;
        fill: white;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }

  .museo-card-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 20px;

    .museo-card-info-header {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 4px;

      #museo-card-nombre {
        font-size: 1.2rem;
        font-family: $font-tertiary;
        color: var(--museo-card-h1-color);
        font-weight: $font-w-extrabold;
        text-align: center;
        margin: 0;
        padding-left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
      }

      a {
        z-index: 31;
        text-decoration: none;

        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }

      #museo-card-alcaldia {
        font-size: 14px;
        color: var(--museo-card-text-color);
        font-weight: $font-w-regular;
        font-family: $font-tertiary;
      }
    }

    .museo-card-info-body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .museo-card-info-body-item {
        width: 90%;
        height: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .semibold {
          font-size: 1rem;
          font-weight: $font-w-semibold;
          color: var(--museo-card-h1-color);
          font-family: $font-tertiary;
        }

        p {
          font-size: 0.95rem;
          color: var(--museo-card-text-color);
          font-weight: $font-w-regular;
          text-align: left;
        }
      }

      .museo-card-info-body-tematica {
        position: absolute;
        bottom: -10%;
        right: 0%;
        width: 40%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          opacity: 0.1;
        }
      }
    }
  }
}

.n-museo-card {
  @extend .museo-card;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 500px;
  overflow: hidden;
  box-shadow: none;

  .museo-card-img-container {
    min-height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .museo-card-img {
      width: 100%;
      height: 100%;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .rating-pill {
      min-width: 64px;
      position: absolute;
      top: 16px;
      right: 14px;
      z-index: 31;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--museo-card-rating-pill-bg);
      padding: 4px 12px;

      border-radius: 12px;

      span {
        display: flex;
        align-items: center;
        gap: 4px;

        font-size: 0.9rem;
        color: var(--museo-card-rating-pill-color);
        font-weight: $font-w-bold;
        font-family: $font-primary;

        svg {
          width: 16px;
          height: auto;
        }
      }
    }
  }

  .museo-card-info-container {
    z-index: 30;
    padding: 20px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .info-header {
      width: 100%;
      // height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .tematica-pill {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 16px;
        background-color: var(--museo-card-rating-pill-bg);

        color: white;
        font-size: clamp(0.7rem, 1vw, 0.8rem);
        font-weight: $font-w-semibold;
        font-family: $font-primary;
        border-radius: 12px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
      }

      .info-header-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;

          color: var(--font-color-primary);

          &.likes {
            pointer-events: all;

            .fav-button-container {
              position: relative;
              .fav-button-span {
                filter: none;
              }
            }

            svg {
              height: auto;
              fill: rgb(255, 49, 49);
            }
          }

          svg {
            width: 22px;
            height: auto;
          }
        }
      }
    }

    .info-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      flex: 1;
      gap: 8px;

      #museo-card-nombre {
        width: 80%;
        font-family: "Noto Serif", serif;
        font-size: clamp(1.2rem, 2vw, 1.35rem);
        min-height: 3.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 2; // Corta en la segunda línea
        -webkit-box-orient: vertical;
        overflow: hidden;

        text-align: left;
        color: var(--font-color-primary);
        font-weight: $font-w-bold;
        letter-spacing: -0.08em;
      }

      .horarios {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 4px;

        h3 {
          font-size: clamp(1.2rem, 1.5vw, 1.35rem);
          font-weight: $font-w-semibold;
          font-family: $font-primary;
        }

        p {
          font-size: clamp(0.85rem, 1.5vw, 0.9rem);
          font-weight: $font-w-regular;
          font-family: $font-primary;
        }
      }
    }

    hr {
      width: 100%;
      border: none;
      opacity: 0.25;
      margin-top: auto;
      margin-bottom: 12px;
    }

    .info-footer {
      z-index: 31;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .location {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        font-weight: $font-w-semibold;
        font-size: clamp(0.85rem, 1vw, 1rem);
      }

      .goto-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.3s ease-in-out;
        pointer-events: all;

        svg {
          width: 16px;
          height: auto;
          fill: white;
        }

        &:hover {
          transform: translateX(4px);
        }
      }
    }

    .museo-card-tematica-icon {
      position: absolute;
      bottom: -40px;
      right: 10px;
      width: 230px;

      opacity: 0.05;

      z-index: 0;
    }
  }
}
