@use "../variables" as *;

.nav-bar {
  width: 50%;
  min-width: 50vw;
  height: 50px;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-navbar);
  color: var(--font-color-navbar);
  padding: 10px 15px;
  margin: 0 auto;

  form {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 22px;
    background-color: inherit;
  }

  button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;

    svg {
      width: 100%;
      height: auto;
      color: black;
    }
  }

  input {
    width: 100%;
    border: none;
    background-color: inherit;
  }

  input:focus {
    outline: none;
  }

  #search {
    font-family: $font-primary;
    font-weight: $font-w-light;
    font-size: $navbar-font-s;
  }
}
