@use "../variables" as *;

.nav-bar {
  width: 50%;
  min-width: 50vw;
  height: 50px;
  border-radius: 50px;
  overscroll-behavior: contain;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-navbar);
  color: var(--font-color-navbar);
  padding: 10px 15px;
  margin: 0 auto;

  form {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 22px;
    background-color: transparent;

    position: relative;
  }

  button {
    display: flex;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;

    svg {
      width: 100%;
      height: auto;
      color: black;
    }
  }

  .search-container {
    flex: 1;
    width: 350px;
    border-radius: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;

    input {
      width: 100%;
      border: none;
      background-color: inherit;
      font-family: $font-primary;
      font-weight: $font-w-light;
      font-size: $navbar-font-s;
    }

    input:focus {
      outline: none;
    }

    #search {
      font-family: $font-primary;
      font-weight: $font-w-light;
      font-size: $navbar-font-s;
    }

    .suggestions-list {
      position: absolute;
      width: 100%;
      max-height: 200px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      z-index: 10;

      margin: 15px auto;
      overflow-y: auto;
      overscroll-behavior: contain;

      top: 100%;
      left: 0;

      &::-webkit-scrollbar {
        background-color: var(--bg-navbar);
        width: 15px;
        height: 10px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-bg-w;
        border-radius: 10px;
      }

      li {
        color: black;
        list-style: none;
        padding: 10px 20px;
        cursor: pointer;
        font-family: $font-primary;
        font-weight: $font-w-light;
        font-size: $navbar-font-s;
        text-align: left;

        transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out,
          background-color 0.3s ease-in-out;

        &:hover {
          background-color: #f0f0f0;
          font-weight: $font-w-semibold;

          .highlighted-text {
            color: #000;
          }
        }

        .highlighted-text {
          font-weight: $font-w-semibold;
          color: rgb(47, 0, 255);

          transition: color 0.3s ease-in-out;
        }
      }
    }

    .error {
      width: fit-content;
      position: relative;

      white-space: nowrap;

      right: 0;

      // margin: 10px auto;

      text-align: center;
      font-family: $font-primary;
      font-weight: $font-w-regular;

      padding: 10px 20px;
      border-radius: 50px;

      background-color: rgba(128, 0, 0, 0.3);
      color: #800000;
    }
  }

  .button-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      width: 100%;

      svg {
        width: 30px;
        height: auto;
        color: black;

        transition: scale 0.3s ease-in-out;

        &:hover {
          scale: 1.2;
        }
      }
    }
  }
}
