@use "../variables" as *;

.bg-opaco-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 199;
  background-color: rgba(0, 0, 0, 0.2);
  // backdrop-filter: blur(3px);
}

#main-login-popup {
  z-index: $z-popups;

  background-color: var(--bg-popup);
  width: 90%;
  height: auto;
  max-width: 600px;
  min-height: 700px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  padding: 20px;

  button {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;
    cursor: pointer;

    transition: transform 0.3s ease, opacity 0.3s ease;

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--font-color-primary);
    font-family: $font-tertiary;
  }

  .login-popup-container {
    width: 80%;
    height: 100%;

    text-align: center;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: var(--font-color-primary);
      gap: 30px;

      .login-field {
        position: relative;
        width: 100%;

        input {
          border: none;
          border-bottom: 1px solid var(--font-color-primary);
          background-color: unset;
          outline: none;
          width: 100%;
          font-family: $font-primary;
          font-size: 16px;
          color: var(--font-color-primary);
          padding: 10px;
        }

        label {
          position: absolute;
          left: 8px;
          top: 10px;
          font-family: $font-primary;
          font-size: 16px;
          font-weight: $font-w-semibold;
          transform-origin: 0 0;
          transition: transform 0.3s ease;
          opacity: 0.5;
        }

        input:focus + label,
        input:not(:placeholder-shown) + label {
          transform: translateY(-20px) scale(0.8);
        }

        input::placeholder {
          color: transparent;
        }
      }
    }

    p {
      color: var(--font-color-primary);
    }

    a {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: $font-w-semibold;
      color: var(--color-a);
      line-height: 23px;
      text-decoration: none;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

#main-map-indicaciones {
  z-index: 200;

  background-color: $rose-w;
  width: 95%;
  height: 50%;
  max-width: 600px;
  min-height: 750px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

  padding: 20px;

  #close-login-popup {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;
    cursor: pointer;

    transition: transform 0.3s ease, opacity 0.3s ease;

    svg {
      width: 100%;
      height: 100%;
      color: var(--font-primary-color);
    }

    &:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 10px;
    font-family: $font-tertiary;
  }

  .map-indicaciones-item {
    width: 90%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;

    h2 {
      width: 100%;
      height: auto;
      font-family: $font-tertiary;
      font-size: 1.3rem;
      font-weight: $font-w-bold;
      text-align: left;
    }

    p {
      width: 100%;
      height: auto;
      font-family: $font-primary;
      font-size: 0.9rem;
      font-weight: $font-w-light;
      text-align: justify;

      a {
        color: var(--color-a);
        text-decoration: none;
        font-weight: $font-w-semibold;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    ul {
      padding-left: 20px;
      li {
        width: 100%;
        height: auto;
        text-align: justify;
        font-family: $font-primary;
        font-size: 0.9rem;
        font-weight: $font-w-light;
      }
    }

    .map-indicaciones-simbolo-container {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      .map-indicaciones-simbolo {
        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        p {
          font-family: $font-primary;
          font-size: 0.8rem;
          font-weight: $font-w-semibold;
          text-align: center;
        }
      }
    }
  }

  .map-indicaciones-mostrar {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .switch-button-dm {
      display: inline-block;
      position: relative;
      width: 3rem;
      height: 1.5rem;
      user-select: none;

      .switch-button__checkbox {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
      }

      .switch-button__label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 1.5rem;
        position: absolute;
        background-color: rgb(198, 198, 198);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        transition: background-color 0.3s ease-in-out,
          justify-content 0.3s ease-in-out;

        .switch-button-slider {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background-color: white;
          box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease-in-out;

          z-index: 101;
        }
      }

      .switch-button-span-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        padding: 0 0.5rem;
      }

      .switch-button__checkbox:checked + .switch-button__label {
        justify-content: flex-end;
        background-color: $link-color;

        .switch-button-slider {
          transform: translateX(
            calc((100% - 1.5rem) * 0.5rem)
          ); // Ajustado al nuevo tamaño
        }
      }

      .switch-button__checkbox:not(:checked) + .switch-button__label {
        justify-content: flex-start;
      }
    }
  }

  .map-indicaciones-botones {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
}

.login-error-message {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 20px 0;
  position: relative;

  background-color: var(--pop-up-error-bg);
  border: var(--pop-up-error-border);
  border-radius: $pop-up-border-radius;

  display: flex;
  justify-content: space-between;
  align-items: center;

  opacity: 1;
  transform: translateY(0);

  p {
    width: 100%;
    height: 40px;
    max-width: 400px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: $font-w-regular;
    color: var(--pop-up-error-text);
    text-align: center;

    display: flex;
    align-items: center;
  }

  button {
    right: 10px;
    width: 25px;
    height: auto;
    background-color: transparent;
    border: none;

    svg {
      width: 100%;
      height: 100%;
      color: var(--pop-up-error-text);

      transition: transform 0.3s ease, opacity 0.3s ease;

      &:hover {
        transform: scale(1.2);
        opacity: 0.7;
      }
    }
  }
}

.login-error-message.hide {
  display: none;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: var(--pop-up-success-bg);
  color: var(--pop-up-success-text);
}

.mod-rechazar-main {
  z-index: $z-popups;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  min-width: 300px;
  height: auto;
  min-height: 500px;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-popup);

  h1 {
    font-family: $font-tertiary;
    font-size: 2rem;
    font-weight: $font-w-bold;
    color: var(--font-color-primary);
    text-align: center;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;

    svg {
      width: 100%;
      height: 100%;
      color: var(--font-color-primary);
    }
    &:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }

  .mod-rechazar-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    .rechazo-select-container {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      p {
        font-family: $font-primary;
        font-size: 16px;
        font-weight: $font-w-semibold;
        color: var(--font-color-primary);
      }

      .select-wrapper {
        position: relative;
        flex: 1;
        min-width: 0; // Evita que el select se expanda más allá de su contenedor

        .rechazo-select {
          width: 100%;
          background-color: var(--textarea-bg);
          color: var(--font-color-primary);
          font-family: $font-primary;
          font-size: 16px;
          padding: 10px 40px 10px 20px;
          appearance: none;
          display: flex;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          outline: none;
        }

        .select-arrow-icon {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          color: inherit;
          width: 20px;
          height: 20px;
        }
      }
    }

    textarea {
      width: 100%;
      background-color: var(--textarea-bg);
      color: var(--font-color-primary);
      font-family: $font-primary;
      font-size: 16px;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      resize: none;
      outline: none;
    }
  }

  @media screen and (max-width: 660px) {
    .rechazo-select-container {
      flex-direction: column;
      align-items: flex-start; // Alinea los items a la izquierda
      gap: 10px; // Reduce el espacio entre elementos

      // Ajusta el select para ocupar todo el ancho
      .rechazo-select {
        width: 100%;
        padding-right: 40px; // Espacio extra para el ícono
      }

      // Posiciona el ícono dentro del campo select
      .select-arrow-icon {
        right: 15px;
        top: 50%; // Centra verticalmente
        transform: translateY(-50%);
      }
    }
  }
}

.agregar-dias-main {
  z-index: $z-popups;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  min-width: 300px;
  height: auto;
  min-height: 500px;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;

    svg {
      width: 100%;
      height: 100%;
      color: var(--font-color-primary);
    }
    &:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }

  .agregar-dias-header {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    h1 {
      font-family: $font-tertiary;
      font-size: 2rem;
      font-weight: $font-w-bold;
      color: var(--font-color-primary);
      text-align: center;
    }

    p {
      font-family: $font-primary;
      font-size: 1.08rem;
      font-weight: $font-w-regular;
      color: var(--font-color-primary);
      text-align: center;
    }
  }

  .no-dias {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--textarea-bg);
    border-radius: 20px;

    h2 {
      font-family: $font-primary;
      font-size: 1.6rem;
      font-weight: $font-w-semibold;
      color: var(--font-color-primary);
      text-align: center;
    }
  }

  .dias-chks-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.otp-main {
  z-index: $z-popups;

  background-color: var(--bg-popup);
  width: 90%;
  height: fit-content;
  max-width: 600px;
  min-height: 600px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 30px;

  .otp-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;

    h1 {
      font-size: 2rem;
      margin: 0;
      color: var(--font-color-primary);
      font-family: $font-tertiary;
    }

    p {
      font-size: 1rem;
      color: var(--font-color-primary);
      font-family: $font-primary;
      font-weight: $font-w-regular;
      margin: 0;
    }
  }

  .registros-field {
    width: 80%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .otp-buttons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.close-modal-button {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: transform 0.3s ease, opacity 0.3s ease;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
}
