@use "../variables" as *;

#registros-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #registros-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 36px;
      margin-bottom: 45px;
      margin-top: 40px;
      text-align: center;
      color: var(--font-color-primary);
    }

    #signin-form {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .registros-container {
        margin: 30px auto;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 0.8fr auto 1fr;
        justify-content: center;
        align-items: center;

        .registros-datos {
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }

        #registros-linea {
          width: 0;
          height: 80%;
          border: 4px solid var(--font-color-primary);
          opacity: 0.2;
          border-radius: 100px;

          margin: 0 60px;
        }

        #registros-preferencias {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;

          overflow-y: auto;
          padding: 20px;

          output {
            font-family: $font-primary;
            font-size: 16px;
            font-weight: $font-w-semibold;
            color: var(--font-color-primary);
            opacity: 0.5;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          h1 {
            font-size: 36px;
            color: var(--font-color-primary);
          }

          hr {
            width: 80%;
            border: 4px solid var(--font-color-primary);
            opacity: 0.2;
            border-radius: 100px;
          }
        }
      }

      .registros-container.admod {
        @extend .registros-container;
        width: 65%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

#registros-encuesta-main {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 0.8fr auto 1fr;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 36px;
    margin: 50px 0;
    color: var(--font-color-primary);
  }

  #registros-encuesta-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;

    #encuesta-contestada {
      text-align: center;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: $font-w-semibold;
      color: var(--font-color-primary);
      opacity: 0.5;
    }
  }

  #registros-linea-encuesta {
    height: 80%;
    width: 0;
    border: 4px solid var(--font-color-primary);
    opacity: 0.2;
    border-radius: 100px;
  }

  #registros-encuesta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    overflow-y: auto;
    padding: 20px;

    output {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: $font-w-semibold;
      color: black;
      opacity: 0.5;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h1 {
      font-size: 36px;
    }

    hr {
      width: 80%;
      border: 4px solid black;
      opacity: 0.2;
      border-radius: 100px;
    }
  }
}

.registros-field {
  position: relative;
  width: 100%;

  input {
    border: none;
    border-bottom: 1px solid gray;
    background-color: unset;
    outline: none;
    width: 100%;
    font-family: $font-primary;
    color: var(--font-color-primary);
    font-size: 16px;
    padding: 10px;
  }

  textarea {
    background-color: unset;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    width: 100%;
    font-family: $font-primary;
    font-size: 16px;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    color: var(--font-color-primary);

    resize: none;
  }

  .registros-field-header {
    width: 90%;
    margin: 0 auto;

    h2 {
      padding-left: 45px;
      color: var(--font-color-primary);
    }
  }

  .frm-label {
    position: absolute;
    left: 15px;
    top: 10px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: $font-w-semibold;
    transform-origin: 0 0;
    transition: transform 0.3s ease;
    opacity: 0.5;
    color: var(--font-color-primary);
  }

  input:focus + .frm-label,
  input:not(:placeholder-shown) + .frm-label {
    transform: translateY(-15px) scale(0.8);
  }

  input::placeholder {
    color: transparent;
  }
}

.registros-field-telefonos {
  @extend .registros-field;
  display: flex;
  position: relative;

  .PhoneInput {
    display: flex;
    align-items: center;
    width: 100%;

    .PhoneInputCountry {
      width: 60px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: var(--bg-grad-color-2);
    }

    .PhoneInputInput {
      border: none;
      border-bottom: 1px solid gray;
      color: var(--font-color-primary);
      background-color: unset;
      outline: none;
      width: 100%;
      font-family: $font-primary;
      font-size: 16px;
      padding: 10px;
    }
  }

  .frm-label {
    position: absolute;
    left: 70px;
    top: 10px;
    pointer-events: none;
  }

  &.has-value .frm-label,
  &:focus-within .frm-label {
    transform: translateY(-15px) scale(0.8);
  }

  .PhoneInputInput::placeholder {
    color: transparent;
  }
}

.registros-field-calendar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-form-calendar);
  padding: 20px;
  border-radius: 25px;
  color: var(--font-color-primary);

  label {
    width: 100%;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: $font-w-semibold;
    color: var(--font-color-primary);
    text-align: left;
  }

  .registros-calendar {
    padding: 20px;
    .rdp-today {
      color: var(--calendar-today);
      font-weight: $font-w-semibold;
    }

    .rdp-selected {
      background-color: var(--calendar-dropdown);
      border-radius: 50%;

      transition: all 0.3s ease-in-out;

      .rdp-day_button {
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
      }
    }

    .rdp-month_caption {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rdp-dropdowns {
      span {
        background-color: var(--calendar-dropdown);
        font-weight: $font-w-semibold;
        padding: 5px 10px;
        border-radius: 5px;

        display: flex;
        gap: 10px;

        select {
          font-family: $font-primary;
          font-size: 16px;
          font-weight: $font-w-regular;
          color: var(--font-color-primary);
          background-color: var(--calendar-dropdown);
          text-align: center;
        }

        .calendar-chevron {
          fill: var(--calendar-chevron);
        }
      }
    }

    .rdp-footer {
      width: 100%;
      background-color: var(--calendar-dropdown);
      margin: 30px 0 0 0;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: $font-w-regular;
      color: var(--font-color-primary);
      font-size: 18px;
    }
  }
}

.registros-chks {
  width: 80%;
  height: auto;
  margin-bottom: 50px;

  // background-color: var(--bg-form-calendar);
  // padding: 30px;
  // border-radius: 30px;

  fieldset {
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 20px;
  }

  legend {
    font-family: $font-primary;
    font-size: 18px;
    font-weight: $font-w-semibold;
    color: var(--font-color-primary);
    opacity: 0.5;
    padding: 10px;
  }

  #servicios-chks {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-column-gap: 25px;
    place-content: center;

    margin: 0 auto;

    .registros-chk-serv {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      cursor: pointer;

      input {
        display: none;
      }

      span {
        display: inline-block;
        width: 60px;
        height: 60px;

        border-radius: 10px;
        padding: 10px;

        img {
          width: 90%;
          height: 90%;
          object-fit: cover;
          opacity: 0.5;
          margin: 0 auto;

          display: flex;
          justify-content: center;
          align-items: center;

          transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
        }
      }

      input:checked + span {
        background-color: var(--bg-checked-tematica);
        img {
          transform: scale(1.1);
          opacity: 1;
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
        }
      }
    }
  }
}

.registros-chk-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  place-content: center;
}

.registros-chk {
  width: 100%;
  max-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;

  label {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: $font-w-semibold;
    color: var(--font-color-primary);
    opacity: 0.5;
    transition: opacity 0.3s ease, background-color 0.3s ease,
      font-weight 0.3s ease;

    padding: 10px 15px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + label {
    border-radius: 10px;
    background-color: var(--bg-checked-tematica);
    opacity: 1;
    font-weight: $font-w-bold;
  }
}

.registros-frm-select {
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-family: $font-primary;
  font-size: 16px;
  padding: 10px;
  outline: none;
  font-weight: $font-w-light;
  color: var(--font-color-primary);
  opacity: 0.5;

  option {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: $font-w-semibold;
    color: black;
    background-color: var(--select-dropdown);
  }
}

.registros-field-rango {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  display: none;
  visibility: hidden;

  label {
    padding: 10px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: $font-w-semibold;
    color: black;
    opacity: 0.5;
  }

  datalist {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;

    option {
      font-family: $font-primary;
      font-size: 16px;
      font-weight: $font-w-bold;
      color: black;
      opacity: 0.5;
    }
  }
}

.rango-visible {
  display: block;
  visibility: visible;

  transition: display 0.3s ease, visibility 0.3s ease;
}

#registros-frm-rango-costo {
  -webkit-appearance: none;
  width: 60%;
  height: 8px;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#registros-frm-rango-costo::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 26px;
  border-radius: 100%;
  background: url("../assets/icons/money-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.registros-field-foto {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  .registros-field-foto-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    h2 {
      color: var(--font-color-primary);
    }

    .foto-input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      gap: 20px;

      span {
        font-size: 18px;
        font-weight: $font-w-light;
        color: var(--font-color-primary);
      }
    }
  }

  img {
    width: 8vw;
    max-width: 150px;
    height: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    object-fit: cover;

    aspect-ratio: 1 / 1;
  }
}

.registros-field-calif {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    width: 100%;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: $font-w-bold;
    color: var(--font-color-primary);
    text-align: left;
  }
}

.registros-field-calif-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#frm-costo-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  output {
    width: 40px;
    margin-right: 5px;
    height: auto;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: $font-w-regular;
    color: black;
    opacity: 1;
  }
}

.registros-field-fotos {
  width: 100%;
  height: auto;
  border-radius: 25px;

  h2 {
    font-family: $font-primary;
    font-size: 24px;
    font-weight: $font-w-bold;
    color: var(--font-color-primary);
    padding: 10px;
    text-align: left;
  }

  #registros-fotos-container {
    width: 100%;
    height: 120px;
    border: 2px dashed var(--font-color-primary);
    opacity: 0.4;
    border-radius: 25px;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img,
    svg {
      width: 40px;
      height: auto;
      color: var(--font-color-primary);
    }

    label {
      margin-top: 10px;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: $font-w-regular;
      text-align: center;
      color: var(--font-color-primary);
    }
  }

  section {
    .row {
      background-color: var(--bg-row-fotos);
      margin-bottom: 10px;
      list-style: none;
      padding: 15px 20px;
      border-radius: 10px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      img,
      svg {
        width: 30px;
        height: auto;
        color: var(--font-color-primary);
      }
    }

    .details {
      span {
        font-family: $font-primary;
        font-size: 16px;
        font-weight: $font-w-semibold;
        color: var(--font-color-primary);
        opacity: 0.5;
      }
    }
  }

  .progress-area {
    .row {
      .content {
        width: 100%;
        margin-left: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }

    .details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        width: 100%;
        max-width: 220px;
        font-family: $font-primary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--font-color-primary);
      }
    }

    .progress-bar-image {
      height: 6px;
      width: 100%;
      background-color: var(--font-color-primary);
      opacity: 0.3;
      margin-bottom: 4px;
      border-radius: 30px;

      .progress-image {
        height: 100%;
        background-color: $color-green;
        opacity: 1;
        border-radius: inherit;
      }
    }
  }

  .uploaded-area {
    max-height: 250px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    .row {
      .content {
        display: flex;
        align-items: center;
      }

      .details {
        display: flex;
        margin-left: 14px;
        flex-direction: column;

        .name {
          width: 100%;
          max-width: 17vw;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: var(--font-color-primary);
        }

        .size {
          font-size: 12px;
          color: var(--font-color-primary);
          font-weight: $font-w-regular;
        }
      }
    }

    .icons-file {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

#editar-res-main {
  width: 80%;
  height: 100%;
  min-height: $main-height;
  background-color: var(--bg-main);
  margin: 10px auto;
  border: none;
  border-radius: 25px;
  box-shadow: var(--box-shadow-2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 36px;
    margin: 50px;
    color: var(--font-color-primary);
  }

  form {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .editar-res-p1 {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: 100%;
      font-size: 16px;
      font-weight: $font-w-semibold;
      color: var(--font-color-primary);
      text-align: center;
    }

    #calificacion-menu {
      width: 100%;
    }
  }

  .editar-res-p2 {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
      font-size: 16px;
      font-weight: $font-w-semibold;
      color: var(--font-color-primary);

      padding: 20px;
    }
  }

  .editar-res-p3 {
    width: 100%;
    height: auto;

    .progress-area {
      .details {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
          max-width: fit-content;
          font-family: $font-primary;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .uploaded-area {
      max-height: 250px;
      .details {
        width: 100%;
        display: flex;
        flex-direction: column;

        .name {
          max-width: fit-content;
          font-family: $font-primary;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: var(--font-color-primary);
        }
      }
    }
  }
}

/* Responsive */
/* Se elimina la linea del centro y se convierte en un flex de columnas todo */
@media screen and (max-width: 1670px) {
  #registros-main {
    #registros-form {
      #signin-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .registros-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 50px;

          .registros-datos {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            h1 {
              margin: 50px 0;
            }
          }

          #registros-linea {
            width: 90%;
            height: 0;
          }

          #registros-preferencias,
          #registros-encuesta {
            padding: 0;
            h1 {
              margin-top: 0;
            }
          }
        }
      }
    }

    .registros-field-foto img {
      width: 10vw;
      height: auto;
      min-width: 30px;
    }

    .registros-field-foto input[type="file"] {
      font-size: 0.8rem;
    }

    .registros-field-foto input::file-selector-button {
      font-size: 0.8rem;
    }
  }

  #registros-encuesta-main {
    display: flex;
    flex-direction: column;
    gap: 50px;

    #registros-linea-encuesta {
      height: 0;
      min-height: 0;
      width: 80%;
    }

    #registros-encuesta {
      padding: 0 20px;
      h1 {
        margin: 0;
      }
    }
  }

  #editar-res-main {
    .editar-res-p1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
