@use "../variables" as *;

.scroll-indicator {
  z-index: 10;
  position: absolute;
  bottom: 80px;
  animation: scroll-indicator 1s infinite alternate;
  width: 30px;
  height: 30px;
  background-color: var(--bg-scroll-indicator);
  border-radius: 50%;
  border: 1px solid var(--highlight-color);
  box-shadow: var(--boxshadow-scroll-indicator);

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 12px;
    height: auto;
    color: var(--highlight-color);
  }
}
