@use "../variables" as *;

#tabla-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--bg-main);
  overflow: hidden;

  .tabla-header {
    width: 100%;
    position: relative;

    a,
    button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 20px;
    }

    h1 {
      width: 100%;
      font-size: 1.8rem;
      font-weight: $font-w-bold;
      text-align: center;
      padding: 30px;
      color: var(--font-color-primary);
      font-family: $font-tertiary;
    }
  }

  .tabla-container {
    flex: 1;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
  }

  table {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;

    border-radius: 25px;
  }

  thead {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--font-color-primary);
      opacity: 0.3;
      border-radius: 50px;
    }

    th {
      width: fit-content;
      font-size: 1rem;
      font-weight: $font-w-bold;
      font-family: $font-tertiary;
      text-align: center;
      padding: 20px;
      position: relative;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--font-color-primary);

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  tbody {
    width: 100%;
    height: auto;
    overflow-y: auto;

    tr {
      width: 100%;
      border-bottom: 3px dashed var(--tr-border-color);
      margin: 0;
      padding: 0;
      height: auto;
    }

    td {
      width: fit-content;
      height: 50px;
      vertical-align: middle;
      font-size: 0.9rem;
      text-align: center;
      word-break: keep-all;
      padding: 10px;
      color: var(--font-color-primary);

      &:first-child {
        font-weight: $font-w-bold;
      }

      svg {
        width: 35px;
        height: auto;
        color: var(--font-color-primary);
      }

      a,
      button {
        border: none;
        background-color: transparent;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: $font-w-semibold;
        color: var(--color-a);
        line-height: 23px;
        text-decoration: none;
        transition: opacity 0.3s ease-in-out;
        color: var(--font-color-primary);

        &:hover {
          opacity: 0.5;
        }
      }

      input[type="time"] {
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
        border: none;
        border-bottom: 1px solid var(--font-color-primary);
        background-color: var(--bg-input);
        color: var(--font-color-primary);
        font-size: 1.2rem;
        font-weight: $font-w-regular;
        font-family: $font-primary;
        text-align: center;
      }

      input[type="number"] {
        width: 100px;
        padding: 10px;
        border: none;
        border-bottom: 1px solid var(--font-color-primary);
        background-color: var(--bg-input);
        border-radius: 5px;
        color: var(--font-color-primary);

        font-size: 1.2rem;
        font-weight: $font-w-regular;
        font-family: $font-primary;
        text-align: center;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .action-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 auto;

        button {
          background-color: black;
          color: white;
          padding: 5px 10px;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: white;
            color: black;
            opacity: 1;
          }
        }
      }
    }
    .aprobada {
      color: $color-green;
      font-weight: $font-w-bold;
    }

    .pendiente {
      color: $color-red;
      font-weight: $font-w-bold;
    }
  }

  @media screen and (max-width: 768px) {
    .tabla-header {
      flex-direction: column;

      a,
      button {
        position: relative;
        margin: 0 auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    table {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.8rem;
      padding: 15px;
    }

    table {
      font-size: 0.8rem;
    }

    thead th {
      font-size: 0.9rem;
      padding: 6px;
    }

    tbody td {
      font-size: 0.8rem;
      padding: 6px;

      img {
        width: 14px;
        height: 14px;
      }
    }

    tbody,
    thead,
    tr,
    th,
    td {
      display: block;
    }

    thead {
      display: none; // Oculta encabezados en móviles
    }

    tbody tr {
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    tbody td {
      text-align: right;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    tbody td::before {
      content: attr(data-label);
      font-weight: $font-w-semibold;
    }
  }
}
