@use "../variables" as *;

.musedmx-toast {
  position: fixed;
  top: 0;

  z-index: 1000;
  width: fit-content !important;
  max-width: 340px !important;
  height: auto !important;
  padding: 18px 20px !important;
  border-radius: 999px !important;

  font-family: $font-primary !important;
  font-size: 1rem !important;
  font-weight: $font-w-regular !important;
  text-align: left !important;
  letter-spacing: -0.05em !important;

  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;

  background-color: var(--toast-bg-color) !important;
  color: var(--toast-text-color) !important;
  border: 1px solid var(--toast-border-color) !important;

  &.error {
    background-color: var(--toast-error-bg-color) !important;
    color: var(--toast-error-text-color) !important;
    border: 1px solid var(--toast-error-border-color) !important;
  }

  &.success {
    background-color: var(--toast-success-bg-color) !important;
    color: var(--toast-success-text-color) !important;
    border: 1px solid var(--toast-success-border-color) !important;
  }

  &.warning {
    background-color: var(--toast-warning-bg-color) !important;
    color: var(--toast-warning-text-color) !important;
    border: 1px solid var(--toast-warning-border-color) !important;
  }

  &.info {
    background-color: var(--toast-info-bg-color) !important;
    color: var(--toast-info-text-color) !important;
    border: 1px solid var(--toast-info-border-color) !important;
  }

  button {
    display: none !important;
  }
}
