[data-theme="dark"] {
  /* ! Colores Darkmode */
  // Colores del fondo de la página
  --bg-grad-color-1: #5c5c5c;
  --bg-grad-color-2: #292929;
  --bg-grad-color-3: #1e1e1e;
  // Fondos de Main y Componentes
  --bg-main: #353535;
  // Colores de texto
  --color-1: #b9afa5;
  // Colores de la parte de la reseña
  --color-resena-bg: #1d1d1d;
  --color-resena-button: #2d2d2d;
  --bg-navbar: #ffffff;
  --font-color-navbar: #000;
  // // Formularios
  --bg-checked-tematica: #888888;
  --bg-form-calendar: #464646;
  --calendar-today: #93c6ff;
  --calendar-dropdown: rgb(51, 51, 51);
  --calendar-chevron: #fff;
  --selection-dropdown: #fff;

  //Fonts
  --nav-font-color: #ffffff;
  --nav-font-hover-color: #fff;
  --nav-login-bg-color: #000;
  --nav-login-font-color: #fff;
  --color-a: #8c9acc; // Color de los links
  --color-a-2: #d2d2d2; // Color de los links 2
  // Colores de las cartas de museo
  --museo-card-bg: #414141;
  --museo-card-h1-color: #d7d7d7;
  --museo-card-text-color: #000000;
  //Fonts
  --font-color-primary: #fff;
  //BoxShadow
  --box-shadow: 1px 1px 26px -5px rgba(195, 195, 195, 0);
  --box-shadow-2: 0 5px 25px rgba(0, 0, 0, 0.2);

  // MenuSort
  --bg-menu-sort: #ffffff;
  --menu-clear: #003cff;

  // FiltroMenu
  --bg-filtro: #292929;

  // Popup
  --bg-popup: rgb(67, 67, 67);

  // ErrorMessage
  // PopUps Colors (LoginError, Toasts, etc)
  --pop-up-bg: #fff;
  --pop-up-text: #000;
  --pop-up-error-bg: rgba(78, 0, 0, 0.3);
  --pop-up-error-border: 3px solid #290000;
  --pop-up-error-text: #ffffff;

  --pop-up-success-bg: rgba(0, 128, 0, 0.3);
  --pop-up-success-border: 3px solid #047c00;
  --pop-up-success-text: #047c00;

  // ValidPassword
  --bg-valid-password: #515151;

  // Fotos
  --bg-row-fotos: #232323;
  --bg-row-fotos-hover: #3a3a3a;
  --bg-progress-bar: #a9a9a9;
  --bg-progress-bar-fill: #415a45;

  // Scrollbar
  --scrollbar-thumb: #888;
  --scrollbar-bg: #555;

  // No Results
  --no-results-bg: #292929;

  // Tabla Input
  --bg-input: #555555;

  // Boton ayuda
  --btn-ayuda-bg: #292929;
  --btn-ayuda-border: rgb(197, 197, 197);
  --btn-ayuda-color: rgb(197, 197, 197);

  --bg-map-info: #292929;

  --bg-museo-list-item: #424242;
  --museo-list-scrollbar-thumb: #646464;

  --tooltip-bg-color: #292929;
  --tooltip-text-color: #fff;

  --select-popup-bg: #dcdcdc;

  --cerrado-bg: #6d4646;
  --pagination-active-bg: #979797;
  --horario-card-bg: #626262;
  --horario-gratis-bg: #698b68;
  --horario-hoy-bg: #476441;
  --horario-precio-bg: #2f3e62;

  --museo-form-add-button-bg: #707070;

  --textarea-bg: #292929;

  --navbarmenu-scroll-1: rgb(111, 111, 111);
  --navbarmenu-scroll-2: rgba(108, 108, 108, 0.759);
  --navbarmenu-scroll-3: rgba(0, 0, 0, 0);

  --filter-bg: #555555;
  --filter-font-color: #fff;

  --toast-bg-color: #292929;
  --toast-text-color: #fff;

  --toast-error-bg-color: #4a3838;
  --toast-error-text-color: #ffcccc;

  --toast-success-bg-color: #2e432e;
  --toast-success-text-color: #cbffcb;

  --toast-warning-bg-color: #5c5338;
  --toast-warning-text-color: #fff0c4;

  --toast-info-bg-color: #3d4d55;
  --toast-info-text-color: #d7fcff;

  --tr-border-color: rgba(255, 255, 255, 0.3);

  --bg-scroll-indicator: #0b0b0b;
  --boxshadow-scroll-indicator: 0 4px 8px rgba(255, 255, 255, 0.2);
}
