[data-theme="light"] {
  /* ! Colores Originales */
  // Colores del fondo de la página
  --bg-grad-color-1: #4d4d4d;
  --bg-grad-color-2: #f2f2f2;
  --bg-grad-color-3: #ffffff;
  --bg-main: #ffffff;
  // Colores de texto
  --color-1: #b9afa5;
  // Colores de la parte de la reseña
  --color-resena-bg: #c4c4c4;
  --color-resena-button: #8c8c8c;
  --bg-navbar: #e7e7e7;
  --font-color-navbar: #000;
  // // Formularios
  --bg-checked-tematica: #cbcbcb;
  --bg-form-calendar: #cbcbcb;
  --calendar-today: #975353;
  --calendar-dropdown: #9c9c9c;
  --calendar-chevron: #000000;
  --selection-dropdown: #fff;

  --nav-font-color: #000;
  --nav-font-hover-color: #000000;
  --nav-login-bg-color: #000;
  --nav-login-font-color: #fff;
  --color-a: #0033e1; // Color de los links
  --color-a-2: #0d0048; // Color de los links 2

  // Colores de las cartas de museo
  --museo-card-bg: #ffffff;
  --museo-card-h1-color: #373737;
  --museo-card-text-color: #434343;
  --museo-card-bg-image: #000000;
  // Fonts
  --font-color-primary: black;

  //BoxShadow
  --box-shadow: 1px 1px 26px -5px rgba(195, 195, 195, 0);
  --box-shadow-2: 0 5px 25px rgba(0, 0, 0, 0.2);

  // MenuSort
  --bg-menu-sort: #ffffff;
  --menu-clear: #003cff;

  // FiltroMenu
  --bg-filtro: #ffffff;

  // Popup
  --bg-popup: rgb(255, 255, 255);

  // ErrorMessage
  // PopUps Colors (LoginError, Toasts, etc)
  --pop-up-bg: #ffffff;
  --pop-up-text: #000;
  --pop-up-error-bg: rgba(128, 0, 0, 0.3);
  --pop-up-error-border: 3px solid #800000;
  --pop-up-error-text: #800000;

  --pop-up-success-bg: rgba(0, 128, 0, 0.3);
  --pop-up-success-border: 3px solid #047c00;
  --pop-up-success-text: #047c00;

  // ValidPassword
  --bg-valid-password: #ffffff;

  // Fotos
  --bg-row-fotos: #e4e4e4;
  --bg-row-fotos-hover: #cecece;
  --bg-progress-bar: #a9a9a9;
  --bg-progress-bar-fill: #ade6b6;

  // Scrollbar
  --scrollbar-thumb: #cbcbcb;
  --scrollbar-bg: #ffffff;

  // No Results
  --no-results-bg: #cbcbcb;

  // Tabla Input
  --bg-input: #cbcbcb;

  // Boton ayuda
  --btn-ayuda-bg: rgb(255, 255, 255);
  --btn-ayuda-border: rgb(197, 197, 197);
  --btn-ayuda-color: rgb(0, 0, 0);

  --bg-map-info: rgb(255, 255, 255);

  --bg-museo-list-item: #d8d8d8;
  --museo-list-scrollbar-thumb: #646464;

  --tooltip-bg-color: #000;
  --tooltip-text-color: #fff;

  --select-popup-bg: #dcdcdc;

  --cerrado-bg: #ffadad;
  --pagination-active-bg: #dcdcdc;
  --horario-card-bg: #dcdcdc;
  --horario-gratis-bg: #d8ffce;
  --horario-hoy-bg: #bcffad;
  --horario-precio-bg: #adc6ff;

  --museo-form-add-button-bg: #dcdcdc;

  --textarea-bg: #dcdcdc;

  --navbarmenu-scroll-1: rgb(33, 33, 33);
  --navbarmenu-scroll-2: rgba(93, 93, 93, 0.759);
  --navbarmenu-scroll-3: rgba(0, 0, 0, 0);

  --filter-bg: #d1d0d0;
  --filter-font-color: #4f4f4f;

  --toast-bg-color: #ffffff;
  --toast-text-color: #000000;

  --toast-error-bg-color: #ffd0d0;
  --toast-error-text-color: #310e0e;

  --toast-success-bg-color: #d0ffd0;
  --toast-success-text-color: #0e310e;

  --toast-warning-bg-color: #ffeeb5;
  --toast-warning-text-color: #6b5000;

  --toast-info-bg-color: #c8edff;
  --toast-info-text-color: #00639c;

  --tr-border-color: rgba(0, 0, 0, 0.3);

  --bg-scroll-indicator: #ffffff;
  --boxshadow-scroll-indicator: 0 4px 8px rgba(0, 0, 0, 0.2);
}
