[data-theme="retro"] {
  /* ! Colores Darkmode */
  // Colores del fondo de la página muchos gradientes xd
  --bg-grad-color-1: #ff7d7d;
  --bg-grad-color-2: #a1caff;
  --bg-grad-color-3: #e9a8ff;

  // Fondos de Main y Componentes
  --bg-main: rgba(255, 255, 255, 0.2);
  //   main {
  //     border: 10px solid white;
  //   }
  // Colores de texto
  --color-1: #ffffff;
  // Colores de la parte de la reseña
  --color-resena-bg: rgba(0, 0, 0, 0.2);
  --color-resena-button: rgba(0, 0, 0, 0.3);
  --bg-navbar: #ffffff;
  --font-color-navbar: #000;
  // // Formularios
  --bg-checked-tematica: rgba(64, 0, 255, 0.285);
  --bg-form-calendar: rgba(41, 41, 41, 0.2);
  --calendar-today: #ffffff;
  --calendar-dropdown: rgba(79, 79, 79, 0.2);
  --selection-dropdown: #fff;

  //Fonts
  --nav-font-color: #000000;
  --nav-font-hover-color: #000000;
  --nav-login-bg-color: #000;
  --nav-login-font-color: #fff;
  --color-a: #4a4a4a; // Color de los links
  --color-a-2: #44005d; // Color de los links 2
  // Colores de las cartas de museo
  --museo-card-bg: rgba(0, 0, 0, 0.2);
  --museo-card-h1-color: #000000;
  --museo-card-text-color: #000000;
  //Fonts
  --font-color-primary: #000000;
  //BoxShadow
  --box-shadow: 1px 1px 26px -5px rgba(195, 195, 195, 0);
  --box-shadow-2: 0 5px 25px rgba(79, 79, 79, 0.2);

  // FiltroMenu
  --bg-filtro: #ffffffaf;

  // Popup
  --bg-popup: rgba(255, 255, 255, 0.608);
  --filter-font-color: #000000;

  // ErrorMessage
  // PopUps Colors (LoginError, Toasts, etc)
  --pop-up-bg: #fff;
  --pop-up-text: #000;
  --pop-up-error-bg: rgba(78, 0, 0, 0.3);
  --pop-up-error-border: 3px solid #290000;
  --pop-up-error-text: #ffffff;

  --pop-up-success-bg: rgba(0, 128, 0, 0.3);
  --pop-up-success-border: 3px solid #047c00;
  --pop-up-success-text: #047c00;

  // ValidPassword
  --bg-valid-password: #515151;

  // Fotos
  --bg-row-fotos: rgba(79, 79, 79, 0.2);

  // Scrollbar
  --scrollbar-thumb: rgba(200, 255, 254, 0.651);
  --scrollbar-bg: inherit;

  // No Results
  --no-results-bg: #ffffffb2;

  // Tabla Input
  --bg-input: #8f88883b;

  --bg-menu-sort: #ffffffd0;

  // Boton ayuda
  --btn-ayuda-bg: rgba(255, 255, 255, 0.493);
  --btn-ayuda-border: rgba(144, 144, 144, 0.454);
  --btn-ayuda-color: rgb(0, 0, 0);

  --bg-map-info: rgba(255, 255, 255, 0.8);

  --bg-museo-list-item: #d8d8d8;
  --museo-list-scrollbar-thumb: #87878777;

  --tooltip-bg-color: #000;
  --tooltip-text-color: #fff;

  --select-popup-bg: #ffffff8d;

  --cerrado-bg: #ff8f8f;
  --pagination-active-bg: #dcdcdc;
  --horario-card-bg: #ffffff7d;
  --horario-gratis-bg: #d8ffce86;
  --horario-hoy-bg: #d1ffc69f;
  --horario-precio-bg: #8dafff7c;

  --museo-form-add-button-bg: #ffffff58;

  --textarea-bg: #ffffff7f;

  --navbarmenu-scroll-1: rgb(33, 33, 33);
  --navbarmenu-scroll-2: rgba(93, 93, 93, 0.759);
  --navbarmenu-scroll-3: rgba(0, 0, 0, 0);

  --filter-bg: #ffffff7f;

  --toast-bg-color: #ffffff71;
  --toast-text-color: #000000;

  --toast-error-bg-color: #ff7c7ca2;
  --toast-error-text-color: #3d0d0dd4;

  --toast-success-bg-color: #94fd949a;
  --toast-success-text-color: #0a2c0a;

  --toast-warning-bg-color: #ffe282c2;
  --toast-warning-text-color: #5d4500e8;

  --toast-info-bg-color: #aad4e99f;
  --toast-info-text-color: #09354e;

  --tr-border-color: rgba(0, 0, 0, 0.3);

  --bg-select: #5c5c5c48;
  --bg-select-options: #ffffff33;
}
