@use "variables" as *;

/* Estilos Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: $font-primary;
  background: linear-gradient(
    0deg,
    var(--bg-grad-color-1) 0%,
    var(--bg-grad-color-2) 35%,
    var(--bg-grad-color-3) 100%
  );
  overflow-x: hidden;
  background-attachment: fixed;
  background-size: cover;

  position: relative;
}

.eye {
  position: absolute;
  top: -5px;
  right: 10px;
  width: 25px;
  height: 25px;
  margin-left: -30px;
  margin-top: 10px;
  cursor: pointer;

  svg,
  img {
    width: 25px;
    height: 25px;
    color: var(--font-color-primary);
    opacity: 0.5;
  }
}

/* El mismo scroll personalizado para todas las paginas */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
}

// Cuando el scroll no se esta usando se oculta el scroll
::-webkit-scrollbar-thumb:window-inactive {
  background-color: var(--scrollbar-bg);
}

/* Para el rate de estrellas */
.stars-rate-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  margin-top: 20px;
}

.stars-rate {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;

  input {
    display: none;
  }

  input:checked ~ span {
    background-image: url("../assets/icons/estrella-icon.png");
  }

  input ~ span:hover {
    transform: scale(1.1);
  }
}

.stars-checkbox-span {
  /* position: absolute; */
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: background-image 0.3s ease-in-out, transform 0.3s ease-in-out;

  img {
    width: 100%;
    height: 100%;
  }
}

.user-foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

main {
  width: 90%;
  height: 100%;
  min-height: $main-height;
  background-color: var(--bg-main);
  margin: 0 auto;
  border: none;
  border-radius: 25px;
  box-shadow: var(--box-shadow-2);

  position: relative;
  overflow: auto;
}

.ReactFlipCard__container,
.ReactFlipCard__flipcard,
.ReactFlipCard__flipcardfront,
.ReactFlipCard__flipcardback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-indicator {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-indicator-img {
  width: 100%;
  height: 100%;
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(85, 85, 85, 0.5);
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  border-radius: 50%;

  &::after {
    display: none;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: var(--text-color);

    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.no-results {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: var(--no-results-bg);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

  p {
    font-size: 1.2rem;
    font-weight: $font-w-bold;
    color: var(--font-color-primary);
    margin: 0;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: $font-w-bold;
    color: var(--font-color-primary);
    margin: 0;
    text-align: center;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  gap: 10px;

  .page-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .page-link {
      text-decoration: none;
      font-size: 1.2rem;
      color: var(--font-color-primary);
      transition: font-weight 0.3s ease-in-out;
      position: relative;
      padding: 0 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        font-weight: $font-w-bold;

        &::after {
          transform: scaleX(1);
          opacity: 1;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        border-bottom: 2px solid var(--font-color-primary);
        width: 100%;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
      }
    }

    &.active {
      background-color: var(--pagination-active-bg);
      border-radius: 50%;
      color: var(--font-color-primary);
      font-weight: $font-w-bold;

      .page-link::after {
        display: none;
      }
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.2;

      .page-link::after {
        display: none;
      }
    }
  }

  .break,
  .previous,
  .next {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-primary);
    font-size: 1.5rem;

    svg {
      width: 35px;
      height: 35px;
      color: var(--font-color-primary);

      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      &:hover {
        opacity: 0.5;
        transform: scale(1.1);
      }
    }

    .page-link::after {
      display: none !important;
    }
  }
}

.b2up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(0, 0, 40);
  background-color: var(--bg-navbar);
  border-radius: 50%;
  z-index: 150;

  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

  button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(0 5px 25px rgba(0, 0, 0, 0.21));

    svg {
      width: 30px;
      height: auto;
      color: rgb(0, 0, 40);

      transition: color 0.3s ease-in-out;
    }
  }

  &:hover {
    transform: scale(1.2);
    background-color: rgb(0, 0, 71);
    border: 3px solid var(--bg-navbar);

    svg {
      color: var(--bg-navbar);
    }
  }
}

#museos-map-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .museos-map-nav {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    #museos-form-nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .museos-nav-section {
        width: 100%;
        height: 60px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        margin: 10px;
        background-color: var(--bg-navbar);
        color: var(--font-color-navbar);

        position: relative;

        button {
          width: 60px;
          height: 60px;
          border: none;
          background-color: transparent;

          svg {
            width: 25px;
            height: 25px;
          }
        }

        .btn-map-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          background-color: var(--bg-navbar);
          border-radius: 50%;

          .btn-map {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            transition: background-color 0.3s ease-in-out;

            &:hover {
              background-color: rgba(0, 0, 0, 0.2);
            }
          }
        }

        #museos-txt-ubicacion {
          width: 100%;
          border: none;
          font-size: 20px;
          font-family: $font-primary;
          outline: none;
        }
      }

      .range-section {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        margin: 10px;

        background-color: var(--bg-select);
        border-radius: 50px;

        font-weight: $font-w-regular;
        font-size: 16px;
        color: var(--font-color-primary);

        #frm-range-ubicacion {
          width: 100%;
          padding: 10px;
        }

        #museos-range-ubicacion {
          -webkit-appearance: none;
          width: 250px;
          height: 10px;
          margin: auto;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 100px;
          border: none;
          outline: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background-color: black;
            border-radius: 100%;
            cursor: pointer;
          }
        }
      }

      .select-wrapper-radius {
        position: relative;
        flex: 1;
        min-width: 0;

        #museos-select-ubicacion {
          width: 100%;
          background-color: var(--bg-select-options);
          color: var(--font-color-primary);
          font-family: $font-primary;
          font-size: 16px;
          padding: 10px 40px 10px 20px;
          appearance: none;
          display: flex;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          outline: none;

          &::placeholder {
            color: rgba(0, 0, 0, 0.6);
          }
        }

        .select-arrow-icon {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          color: inherit;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .museos-map-container {
    width: 90%;
    height: 650px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;

    border-radius: 25px;
    position: relative;

    .map-container {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      overflow: hidden;

      .map-info {
        width: 60%;
        max-width: 550px;
        height: auto;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: var(--bg-map-info);
        border-radius: 10px;
        text-align: left;
        padding: 20px;

        z-index: 101;

        hr {
          margin: 10px 0;

          border: 1px solid rgba(0, 0, 0, 0.2);
        }

        h4 {
          font-size: 1.4rem;
          color: var(--font-color-primary);
        }

        p {
          width: 100%;
          font-size: 1rem;
          color: var(--font-color-primary);
        }

        .close-button {
          position: absolute;
          top: 10px;
          right: 10px;

          width: 30px;
          height: 30px;

          border: none;
          background-color: transparent;

          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 100%;
            height: auto;
            color: var(--font-color-primary);

            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

            &:hover {
              opacity: 0.7;
              transform: scale(1.1);
            }
          }
        }

        .routes-alt {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          margin-top: 10px;

          ul {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            li {
              list-style: none;

              button {
                background-color: transparent;
                border: none;
                color: var(--color-a-2);
                font-size: 1rem;
                font-weight: $font-w-regular;
                font-family: $font-primary;
                cursor: pointer;
                text-align: right;

                transition: opacity 0.3s ease-in-out,
                  font-weight 0.3s ease-in-out;

                &:hover {
                  opacity: 0.7;
                  font-weight: $font-w-bold;
                }
              }
            }
          }
        }

        .museos-list {
          list-style: none;
          width: 100%;
          max-height: 300px;
          overflow-y: auto;
          overflow-x: hidden;
          padding: 5px;

          display: flex;
          flex-direction: column;
          gap: 10px;

          box-sizing: border-box;

          margin-top: 10px;

          // Scrollbar
          &::-webkit-scrollbar {
            width: 10px;
            background-color: var(--bg-museo-list-item);
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--museo-list-scrollbar-thumb);
            border-radius: 10px;
          }

          .museo-list-item {
            background-color: var(--bg-museo-list-item);
            width: 99%;
            height: auto;
            min-height: 124px;

            display: grid;
            grid-template-columns: auto 1fr;
            gap: 10px;
            justify-content: center;
            align-items: start;
            padding: 10px;

            border-radius: 10px;
            box-sizing: border-box;

            .museo-list-item-img {
              position: relative;
              width: 132px;
              height: 100%;
              border-radius: 10px;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                transition: all 0.3s ease-in-out;

                &:hover {
                  filter: brightness(0.7);
                }
              }

              .museo-list-item-distance {
                position: absolute;
                width: auto;
                max-width: 70px;
                height: auto;

                border-top-right-radius: 5px;

                bottom: 0;
                left: 0;
                background-color: black;

                padding: 5px 10px;

                p {
                  color: white;
                  font-size: 1rem;
                  text-align: center;
                  font-weight: $font-w-semibold;
                }
              }

              .museo-list-item-rank {
                @extend .museo-list-item-distance;
                bottom: 0;
                left: 0;
                // bottom: auto;
                padding: 5px 10px;

                border-bottom-right-radius: 5px;
              }

              .fav-button-container {
                position: absolute;
                top: 5px;
                left: 5px;
              }
            }

            .museo-list-item-info {
              position: relative;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              overflow: hidden;

              .museo-list-item-name {
                width: 100%;
                height: auto;
                font-size: 1.2rem;
                color: var(--font-color-primary);
                font-weight: $font-w-bold;

                a {
                  text-decoration: none;
                }

                transition: opacity 0.3s ease-in-out;

                &:hover {
                  opacity: 0.5;
                }
              }

              .museo-list-tematica-icon {
                position: absolute;
                right: 0;
                top: 0;
                width: 50%;
                height: auto;

                img {
                  width: 100%;
                  height: auto;
                  object-fit: cover;
                  opacity: 0.1;
                }
              }

              .museo-list-item-tiempo,
              .museo-list-item-tematica {
                p {
                  font-size: 0.8rem;
                  padding-top: 10px;
                }
              }
            }
          }

          @media screen and (max-width: 750px) {
            .museo-list-item {
              .museo-list-item-img {
                width: 100%;
              }
              .museo-list-item-info {
                display: none;
              }
            }
          }
        }
      }

      .map-change-location-container {
        display: none;
        width: auto;
        height: auto;
        position: absolute;
        top: 10px;
        right: 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;

        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.21);

        #btn-change-location {
          width: 75px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          border-radius: 10px;
          border: 3px solid var(--btn-ayuda-border);
          cursor: pointer;
          pointer-events: all;
          background-color: var(--btn-ayuda-bg);

          transition: transform 0.3s ease-in-out;

          svg {
            width: 25px;
            height: auto;
            color: var(--btn-ayuda-color);
          }

          &:hover {
            transform: scale(1.1);
          }
        }

        .map-change-location-dropdown {
          width: auto;
          min-width: 400px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-radius: 10px;
          gap: 10px;

          padding: 0 10px;

          background-color: var(--btn-ayuda-bg);
          border: 3px solid var(--btn-ayuda-border);

          .autocomplete-container {
            width: 90%;
            margin: 0 auto;
          }

          svg {
            width: 25px;
            height: auto;
            color: var(--btn-ayuda-color);
          }
        }
      }

      .btn-map {
        position: relative;
        width: 50px;
        height: 50px;
        border: none;
        background-color: transparent;
        border: 3px solid var(--btn-ayuda-border);
        border-radius: 10px;
        pointer-events: all;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.21);

        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

        &:hover > .btn-map-bg {
          filter: brightness(0.8);
        }

        &:hover {
          transform: scale(1.1);
        }

        .btn-map-bg {
          width: 100%;
          height: 100%;
          z-index: 1001;
          position: absolute;
          background-color: var(--btn-ayuda-bg);
          border-radius: 7px;

          transition: filter 0.3s ease-in-out;
        }

        svg {
          z-index: 1002;
          width: 25px;
          height: 25px;
          color: var(--btn-ayuda-color);
        }
      }

      #btn-map-info {
        position: absolute;
        bottom: 14px;
        right: 60px;
        width: 50px;
        height: 50px;
        background-color: var(--btn-ayuda-bg);
        border: 3px solid var(--btn-ayuda-border);
        border-radius: 10px;
        pointer-events: all;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.21);

        transition: transform 0.3s ease-in-out;

        z-index: 100;

        svg {
          width: 25px;
          height: 25px;
          color: var(--btn-ayuda-color);
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      #btn-map-routes {
        position: absolute;
        bottom: 70px;
        left: 10px;
      }
    }

    .gm-svpc,
    .gm-control-active {
      position: absolute !important;
      width: 50px !important;
      height: 50px !important;
      background-color: var(--btn-ayuda-bg) !important;
      border: 3px solid var(--btn-ayuda-border) !important;
      border-radius: 10px !important;
      pointer-events: all !important;

      cursor: pointer;

      display: flex !important;
      justify-content: center !important;
      align-items: center !important;

      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.21) !important;

      transition: filter 0.3s ease-in-out !important;

      &:hover {
        filter: brightness(0.8) !important;
      }
    }

    .gm-bundled-control {
      bottom: 126px !important;
      right: 45px !important;
    }

    .gm-style-mtc-bbw,
    .gm-fullscreen-control,
    .gm-style-cc,
    .gm-compass-needle,
    .gm-compass {
      display: none !important;
    }

    .gmnoprint {
      span,
      button[aria-label="Acercar"],
      button[aria-label="Alejar"] {
        display: none !important;
      }
    }

    .gmnoprint > div[draggable="false"] {
      display: none !important;
    }

    .gm-style-iw-d {
      overflow: hidden !important;
    }
  }
}

.btn-map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: $z-botones-map;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  .btn-map {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    border: 3px solid var(--btn-ayuda-border);
    border-radius: 10px;
    pointer-events: all;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.21);

    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

    &:hover > .btn-map-bg {
      filter: brightness(0.8);
    }

    &:hover {
      transform: scale(1.1);
    }

    .btn-map-bg {
      width: 100%;
      height: 100%;
      z-index: 1001;
      position: absolute;
      background-color: var(--btn-ayuda-bg);
      border-radius: 7px;

      transition: filter 0.3s ease-in-out;
    }

    svg {
      z-index: 1002;
      width: 25px;
      height: 25px;
      color: var(--btn-ayuda-color);
    }
  }

  .btn-dropdown-container {
    position: relative;
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 5px;
    pointer-events: all;

    button {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px;

      .arrow-dd {
        width: 25px;
        height: 25px;
        z-index: 1002;
      }
    }

    .btn-dropdown-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }

  #dd-travel-mode {
    bottom: 10px;
    left: 170px;
    transform: translateX(-45%);
  }

  #dd-map-type {
    bottom: 10px;
    left: 275px;
    transform: translateX(-55%);
  }

  #btn-map-user-location {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  #btn-map-get-location {
    position: absolute;
    bottom: 10px;
    left: 70px;
  }

  #btn-map-museos-cercanos {
    position: absolute;
    bottom: 70px;
    left: 70px;
  }
}
