// IMPORTAR FUENTES
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// VARIABLES
// Fuentes
$font-primary: "Raleway", sans-serif;
$font-secondary: "Playfair", serif;
$font-tertiary: "Roboto", sans-serif;

// Blancos
$wow: #edefef;
$rose-w: #fffafa;
$w-dove: #f0efe7;

// Color del checkbox-radiobutton de los filtros
$filter-checkbox-bg: #d9d9d9;

/* NAV */
$nav-ul-font-s: 24px;
$nav-login-font-s: 24px;

/* NAVBAR */
$navbar-font-s: 18px;

/* INDEX MAIN */
$index-main-button-bg: #fff;
$index-main-button-font-color: #000;
$index-main-font-s-title: 3rem;
$index-main-font-s-text: 1.5rem;

/* FOOTER */
$footer-bg: #000;
$footer-font-color: #fff;
$footer-font-w-thin: 100;
$footer-font-w-semibold: 600;
$footer-font-w-extralight: 200;
$footer-font-s-title: 1.5rem;
$footer-font-s-text: 1rem;
$footer-font-s-cr: 0.8rem;

/* WEIGHTS */
$font-w-thin: 100;
$font-w-extralight: 200;
$font-w-light: 300;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semibold: 600;
$font-w-bold: 700;
$font-w-extrabold: 800;
$font-w-black: 900;

// MAXWIDTHS para responsive
$max-width-navbarmenu: 1072px; // Para el navbarmenu

// Tamaño de Main
$main-height: 70vh;

// Colores Extra
$color-green: #047c00;
$color-red: #800000;

// Box-Shadows
$error-form-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);

// Map Markers
$user-marker-bg: rgb(68, 0, 194);
$user-marker-border: rgb(26, 0, 74);

$pop-up-border-radius: 10px;

// Museo Card
$mc-width: 25rem;

// Scrollbar
$scrollbar-bg-w: #b6b6b6;

// Link color general
$link-color: #0022ff;

$museo-detail-h1-size: 1.8rem;

// Z-indexes
$z-menu-container: 1000;
$z-popups: 500;
$z-menu-filtros: 500;
$z-lightbox: 500;
$z-navbar-menu: 300;
$z-botones-map: 300;
$z-user-marker: 200;
$z-museo-card: 100;
$z-main: 10;
