// IMPORTAR FUENTES
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// VARIABLES
// Fuentes
$font-primary: "Raleway", sans-serif;
$font-secondary: "Playfair", serif;
$font-tertiary: "Roboto", sans-serif;

/* ! Colores */
// Colores del fondo de la página
$bg-grad-color-1: #777062;
$bg-grad-color-2: #ddd0b6;
$bg-grad-color-3: #fff4e0;

// Colores de texto
$color-1: #b9afa5;
$color-a: #0033e1; // Color de los links
$color-a-2: #080058; // Color de los links 2

// Colores de la parte de la reseña
$color-resena-bg: #decba7;
$color-resena-button: #ac8863;

// Colores de las cartas de museo
$museo-card-bg: #d9d9d9;
$museo-card-h1-color: #6f6f6f;
$museo-card-text-color: #000;

// Blancos
$wow: #edefef;
$rose-w: #fffafa;
$w-dove: #f0efe7;

// Color del checkbox-radiobutton de los filtros
$filter-checkbox-bg: #d9d9d9;

/* NAV */
$nav-font-color: #000;
$nav-login-bg-color: #000;
$nav-login-font-color: #fff;
$nav-ul-font-s: 24px;
$nav-login-font-s: 24px;

/* NAVBAR */
$navbar-bg: #fff;
$navbar-font-color: #000;
$navbar-font-w-light: 200;
$navbar-font-s: 18px;

/* INDEX MAIN */
$index-main-button-bg: #fff;
$index-main-button-font-color: #000;
$index-main-button-font-w-light: 200;
$index-main-font-w-extrabold: 800;
$index-main-font-s-title: 3.5rem;
$index-main-font-s-text: 1.5rem;

/* FOOTER */
$footer-bg: #000;
$footer-font-color: #fff;
$footer-font-w-thin: 100;
$footer-font-w-semibold: 600;
$footer-font-w-extralight: 200;
$footer-font-s-title: 1.5rem;
$footer-font-s-text: 1rem;
$footer-font-s-cr: 0.8rem;

/* WEIGHTS */
$font-w-thin: 100;
$font-w-extralight: 200;
$font-w-light: 300;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semibold: 600;
$font-w-bold: 700;
$font-w-extrabold: 800;
$font-w-black: 900;

// MAXWIDTHS para responsive
$max-width-navbarmenu: 1072px; // Para el navbarmenu

// Tamaño de Main
$main-height: 70vh;

// Colores Extra
$color-green: #047c00;
$color-red: #800000;

// Box-Shadows
$box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
$error-form-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);

// Map Markers
$user-marker-bg: rgb(68, 0, 194);
$user-marker-border: rgb(26, 0, 74);

// PopUps Colors (LoginError, Toasts, etc)
$pop-up-bg: #fff;
$pop-up-text: #000;
$pop-up-error-bg: rgba(128, 0, 0, 0.3);
$pop-up-error-border: 3px solid #800000;
$pop-up-error-text: #800000;
$pop-up-border-radius: 10px;

$pop-up-success-bg: rgba(0, 128, 0, 0.3);
$pop-up-success-border: 3px solid #047c00;
$pop-up-success-text: #047c00;
